.navigation {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 80vh;
}

.navigation__logo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 14;
  grid-row-start: 3;
  grid-row-end: 8;
}

.navigation__bball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 7;
  grid-row: 1;
}
